{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#foreach posts}}

<article class="post" role="article">
	<header class="post-header">
		
		<h2 class="post-header-title">
			<a href="{{url}}">
				{{title}}
			</a>
		</h2>
		
		<span class="post-header-meta">
			<time datetime="{{date format='YYYY-MM-DD'}}">
				{{date format="Do MMMM YYYY"}}
			</time> 
			 {{#if tags}}on {{tags}}{{/if}}
		</span>

	</header>
	<div class="post">
		<p>{{content preview="true" words="100"}}</p>
		<p><a href="{{url}}">Read more</a></p>
	</div>
</article>

<hr />

{{/foreach}}

{{! Previous/next page links - only displayed on page 2+ }}
{{pagination}}